.administration-body {
    padding-top: 10px;
    display: flex;
}
.sidemenu {
    margin-left: 5%;
    width: fit-content;
    display: inline-block;
}
.administration-label {
    color: #00D215;
    font-weight: 700;
    font-size: 18px;
}
.option-label {
    background-color: transparent;
    border: 0;
    display: block;
    margin-top: 10px;
    color: #585858;
    font-weight: 700;
    font-size: 13px;
}
.option-selected {
    color: #FF6600;
}
.menu-display {
    margin-left: 10px;
    border-width: 2px;
    border-color: #00d215de;
    border-style: solid;
    border-radius: 20px;
    vertical-align: top;
    overflow-x: scroll;
}